body{
    background-image: url("headphones_hero_1.jpg");
    background-repeat: no-repeat; 
    max-width: 1400px;
    height: 800px;
}
.Logo{
    padding-left: 120px;
    padding-top: 30px;
}
.links{
    float: right;
}
.lin{
    list-style-type: none;
}
.link{
    text-decoration:none ;
    color: #ffffff;
    font-family: url('SourceSansPro-Regular.otf');
}
a:hover{
    color:#ff6565;
}
.in{
    float: left;
    padding:45px 50px 0px;
    
}
.h21{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-top: 250px;
    
}
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.butt{
    background-color: #ff6565;
    color: #ffffff;
    padding: 12px 19px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    display: inline;
    box-shadow: #ff6565;
    border-color: #ff6565;
    position: relative;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    margin-top: 50px;


}
.p2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    line-height: 23px;
    @font-face {
        font-family: Source-sans-pro;
        src: url(SourceSansPro-Regular);
    }
}

.p3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    margin:270px 30px 200px;
    line-height: 23px;
    @font-face {
        font-family: Source-sans-pro;
        src: url(SourceSansPro-Regular);
    }
    flex-wrap: wrap;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 120px;
    flex-wrap: wrap;
}
#icon-ic_sound{
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin:50px 65px 10px 80px;
  color: #ff6565;
  font-size: 110px;
   animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
#icon-ic_video{
    display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin:50px 65px  10px 80px;
  color: #ff6565;
  font-size: 110px;
   animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
#icon-ic_music{
    display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin:50px 65px 10px 80px;
  color: #ff6565;
  font-size: 110px;
   animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
#icon-ic_hearing{
    display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin:50px 65px 10px 80px;
  color: #ff6565;
  font-size: 110px;
  animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.pp5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    flex-wrap: wrap;
}
.ppp5{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 50px 80px;
}
.sect3{ 
    
    background-image: url("headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    max-width: 1440px;
    height: 650px;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
   
}
.p6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin:210px 30px 105px ;
    @font-face {
        font-family: Source-sans-pro;
        src: url(SourceSansPro-Regular);
    }
    flex-wrap: wrap;
}
.results{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px;
    justify-content: center;
    align-items: center;
    align-content: last baseline;
    margin-top: 100px;
    
}
.res{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px;
    width: 190px;
    height: 190px;
    
    
}
.re1{
    position: relative;
    left: 75%;
    top: -71%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 45px;
}
.result1{
    position: relative;
    left: 56%;
    top: -60%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.re2{
    position: relative;
    left: 75%;
    top: -71%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 45px;
}
.result2{
    position: relative;
    left: 56%;
    top: -60%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.re3{
    position: relative;
    left: 75%;
    top: -71%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 45px;
}
.result3{
    position: relative;
    left: 56%;
    top: -60%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.re4{
    position: relative;
    left: 75%;
    top: -71%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 45px;
}
.result4{
    position: relative;
    left: 56%;
    top: -60%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
.sect4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    height: 400px;
    align-content: flex-start;
}
input{
  font-size: 16px;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  background: transparent;
}
input[type="text"] {
    margin:25px;
    padding: 25px;

}
.butt2{
    background-color: #ff6565;
    color: #ffffff;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    display: inline;
    box-shadow: #ff6565;
    border-color: #ff6565;
    margin: 50px;
}
.sect5{
    background-color: #071629;
    height: 252px;
    margin-top: 50px;

}
.foot{
    display: inline;
}
.Logo2{
    margin-right: 400px;
}

.Log2{
    margin:60px 0px 70px 70px ;
    padding-left: 120px;
    padding-top:90px;
}
.socials{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    
}

.icon{
     display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #ffffff;
  margin-left: 10px;
  font-size: 40px;
}
.Headphones2020{
    color: #ffffff;
    text-align: center;
    margin:0;
    padding:0;
    font-size: 13px;
    font-family: Source Sans Pro;
}
#pentagon1, #pentagon2, #pentagon3, #pentagon4{
    position: relative;
    width: 108px;
    box-sizing: content-box;
    border-width: 100px 36px 0;
    border-style: solid;
    border-color: #ff6565 transparent;
    margin-left: 35px;
    animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
#pentagon1::after, #pentagon2::after, #pentagon3::after, #pentagon4::after{
    content: "";
    position: absolute;
    top: -170px;
    left: -36px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px  70px;
    border-color: transparent transparent #ff6565 ;
    margin-right: 35px;
    animation-name: animate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes myAnimation{
    0% {background-color: #ff6565;}
    20% {background-color: #131a7c;}
    40% {background-color: #0e6432;}
    60%{background-color: #e20606;}
    80%{background-color: #c208d3;}
    100%{background-color: #e9d30a;}
   
}
@keyframes animate {
    0% {background-color: #ff6565;}
    20% {background-color: #56f38b;}
    40% {background-color: #e042a4;}
    60%{background-color: #13cedb;}
    80%{background-color: #fa790f;}
    100%{background-color: #37f508;}
}