/* Flex container for index fille*/
.flex-container>body{
    display: flex;
    flex-direction: column;
    flex:auto;
    line-height:75px;
    text-align: center;

}.flex-container>main{
    display: flex;
     flex:auto;
     flex-direction:row;
    text-align: center;

}.flex-container>ul{
    flex:auto;
    flex-direction:row;
    text-align: center;

}.flex-container>article{
    flex:2
    
    
}